/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media (max-width: 1200px) {
    .hero {
      padding-bottom: 134px;
    }
  
    .header-nav {
      margin-left: 40px;
    }
  
    .hero__title {
      font-size: 50px;
      max-width: 450px;
      margin-bottom: 17px;
    }
  
    .hero__descr {
      max-width: 365px;
    }
  
    .hero__bg-wrapper::before {
      position: absolute;
      content: "";
      top: -14px;
      width: 92%;
      bottom: -118px;
      left: 14px;
      background-image: url(../img/hero-img-768.png);
      background-repeat: no-repeat;
      background-size: contain;
    }
  
    .benefits__bg-wrapper {
      background-size: 88%;
    }
  
    .benefits__card {
      padding: 90px 0 15px;
    }
  
    .benefits__card-descr {
      max-width: 200px;
    }
  
    .benefits {
      padding-bottom: 62px;
    }
  
    .teachers__card {
      margin-bottom: 24px;
    }
  
    .teachers {
      padding-bottom: 25px;
    }
  
    .courses__botcard {
      height: 376px;
    }
  
    .courses__btn {
      padding: 20.5px 53px;
    }
  
    .courses__descr {
      max-width: 273px;
    }
  }
  
  @media (max-width: 767px) {
    .header-logo {
      text-align: center;
      margin-bottom: 30px;
    }
  
    .header {
      padding: 30px 0 27px 0;
    }
  
    .header-nav {
      margin-left: 18px;
    }
  
    .hero {
      padding: 78px 0 134px;
    }
  
    .hero__bg-wrapper::before {
      display: none;
    }
  
    .benefits__bg-wrapper {
      background-size: 83%;
      background-position-y: 0px;
    }
  
    .benefits {
      padding-bottom: 42px;
    }
  
    .teachers {
      padding-bottom: 49px;
    }
  
    .courses__botcard {
      height: 473px;
    }
  
    .card-1 {
      background-image: url(../img/card-1-576.png);
    }
    .card-2 {
      background-image: url(../img/card-2-576.png);
    }
    .card-3 {
      background-image: url(../img/card-3-576.png);
    }
    .card-4 {
      background-image: url(../img/card-4-576.png);
    }
  
    .courses__name {
      line-height: 23px;
      margin-bottom: 12px;
    }
  
    .courses__descr {
      max-width: 190px;
    }
  
    .courses__btn {
      padding: 20.5px 48px;
    }
  
    .courses__name {
      max-width: 189px;
    }
  }
  
  @media (max-width: 575px) {
    header {
      padding: 25px 0 27px;
    }
  
    .header-logo {
      text-align: center;
      margin-bottom: 22px;
    }
  
    .header-nav {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      gap: 0;
      margin: 0;
    }
  
    .hero {
      padding: 50px 0 49px;
    }
  
    .hero__title {
      font-size: 30px;
      margin-bottom: 5px;
    }
  
    .hero__descr {
      font-size: 16px;
      line-height: 20.8px;
      letter-spacing: 0;
      margin-bottom: 42px;
    }
  
    .hero__btn {
      padding: 21px 51px;
      font-size: 16px;
      line-height: 18.75px;
    }
  
    .benefits {
      padding: 49px 0 20px 15px;
    }
  
    .benefits__tltle {
      margin-bottom: 2px;
      font-size: 20px;
      line-height: 26px;
      letter-spacing: 0;
    }
  
    .benefits__descr {
      font-size: 16px;
      line-height: 24px;
    }
  
    .benefits__card {
      padding: 2px 0;
      margin-bottom: 30px;
    }
  
    .benefits__card-descr {
      padding-left: 110px;
      max-width: 280px;
    }
  
    .bg-1,
    .bg-2,
    .bg-3 {
      margin-left: 0;
    }
  
    .teachers {
      padding: 37px 0 22px;
    }
  
    .teachers__title {
      margin-bottom: 17px;
      font-size: 20px;
      letter-spacing: -0.5px;
    }
  
    .courses {
      padding: 46px 0 20px;
    }
  
    .courses__title {
      margin-bottom: 27px;
      font-size: 20px;
      line-height: 20px;
    }
  
    .card-1 {
      background-image: url(../img/card-1-320.png);
    }
    .card-2 {
      background-image: url(../img/card-2-320.png);
    }
    .card-3 {
      background-image: url(../img/card-3-320.png);
    }
    .card-4 {
      background-image: url(../img/card-4-320.png);
    }
  
    .courses__duration {
      background-size: auto;
      padding-left: 30px;
      margin-right: 10px;
      font-size: 16px;
      line-height: 28.65px;
    }
  
    .courses__descr {
      max-width: 236px;
    }
  
    .courses__btn {
      padding: 20.5px 55.5px;
    }
  }
  