/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/



html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*:focus {
  outline: 3px solid var(--violett);
}

::-moz-selection {
  background: var(--violett-medium);
}

::selection {
  background: var(--violett-medium);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

:root {
  --main-black: #121723;
  --off-black: #292e39;
  --grey-hard: #a1a6b4;
  --grey-medium: #d2d5dd;
  --grey-light: #e6e8ec;
  --gold: #bb973e;
  --local-yellow: #f0d288;
  --local-blue: #0039a6;
  --local-red: #d52b1e;
  --violett: #4f28a5;
  --violett-medium: #6d31ee;
  --light-violett: #aa9dfa;
  --semi-white: #f5f6f7;
  --white: #ffffff;
  --gap-header: 10px;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerRegular.woff2") format("woff2"),
    url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerBold.woff2") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff");
  font-weight: 600;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerMedium.woff2") format("woff2"),
    url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerLightItalic.woff2") format("woff2"),
    url("../fonts/MullerLightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerRegularItalic.woff2") format("woff2"),
    url("../fonts/MullerRegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

body {
  min-width: 320px;
  font-family: "Muller", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-reset {
  border: none;
  padding: 0;
  margin: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container, .container-fluid {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 32px;
  width: 1174px;
}

/* header */

.upperline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 17px 0px 7px;
}

.upperline__logo a:focus {
  outline: 3px solid var(--violett-medium);
  outline-offset: 10px;
  border-radius: 10px;
}

.upperline__search-btn {
  height: 24px;
  width: 24px;
  cursor: pointer;
  background-image: url(../img/search.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: right;
  -webkit-transition: background-image 0.3s ease-in-out;
  -o-transition: background-image 0.3s ease-in-out;
  transition: background-image 0.3s ease-in-out;
}

.upperline__search-btn:hover {
  background-image: url(../img/status=search_hover.svg);
}

.upperline__search-btn:focus {
  outline: transparent;
  background-image: url(../img/status=search_focus.svg);
}

.upperline__search-btn:active {
  background-image: url(../img/status=search_active.svg);
}

.navigation {
  margin: 0 calc(50% - 50vw);
  padding: 4px 0px 4px 22px;
  border: 1px solid var(--grey-light);
}

.navlist {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--gap-header);
  overflow: auto hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.navlist-item {
  padding: 4px 10px;
  position: relative;
  color: var(--main-black);
  font-size: 16px;
  line-height: 100%;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.navlist-item:hover {
  color: var(--violett-medium);
}

.navlist-item:focus {
  color: var(--white);
  background-color: var(--light-violett);
  outline: transparent;
}

.navlist-item:active  {
  color: var(--violett);
}


.navlist::-webkit-scrollbar {
  display: none;
}

/* hero */

.hero {
  padding: 41px 0px 38px;
  margin-bottom: 2px;
}

.hero__title {
  margin: 0;
  margin-bottom: 7px;
  color: var(--main-black);
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
}

.hero__descr {
  margin: 0;
  color: var(--main-black);
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 20px;
}

.hero__btn {
  padding: 17px 45px;
  cursor: pointer;
  border: 1px;
  border-radius: 40px;
  background-color: var(--violett-medium);
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hero__btn:hover {
  background-color: var(--light-violett);
}

.hero__btn:focus {
  outline: 1px solid var(--violett);
  background-color: var(--light-violett);
}

.hero__btn:active {
  outline: transparent;
  background-color: var(--violett);
}

/* podcasts */

.podcasts {
  padding: 54px 0;
  background-color: var(--grey-light);
}

.podcasts__title {
  margin: 0;
  color: var(--main-black);
  font-size: 24px;
  line-height: 100%;
  margin-bottom: 20px;
}

.podcasts__card {
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.podcasts__card:hover {
  -webkit-transform: translate3d(-5px, -5px, -5px);
          transform: translate3d(-5px, -5px, -5px);
  -webkit-box-shadow: 10px 5px 5px var(--light-violett);
          box-shadow: 10px 5px 5px var(--light-violett);
}

.podcasts__card:focus {
  outline: transparent;
  -webkit-transform: translate3d(-5px, -5px, -5px);
          transform: translate3d(-5px, -5px, -5px);
  -webkit-box-shadow: 10px 5px 5px var(--light-violett);
          box-shadow: 10px 5px 5px var(--light-violett);
}

.podcasts__card:active {
  -webkit-transform: translate3d(5px, 5px, 5px);
          transform: translate3d(5px, 5px, 5px);
  -webkit-box-shadow: 5px 5px 5px var(--light-violett);
          box-shadow: 5px 5px 5px var(--light-violett);
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  -o-transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}

.podcasts__card:not(:last-child) {
  margin-bottom: 30px;
}

.podcasts__card-upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  min-height: 72px;
  background-color: var(--white);
  background-size: cover;
  background-repeat: no-repeat;
}

.podcast1 {
  background-image: url(../img/podcast1.jpg);
}

.podcast2 {
  background-image: url(../img/podcast2.jpg);
}

.podcast3 {
  background-image: url(../img/podcast3.jpg);
}

.podcast4 {
  background-image: url(../img/podcast4.jpg);
}

.podcast5 {
  background-image: url(../img/podcast5.jpg);
}

.podcast6 {
  background-image: url(../img/podcast6.jpg);
}

.podcast7 {
  background-image: url(../img/podcast7.jpg);
}

.podcast8 {
  background-image: url(../img/podcast8.jpg);
}

.podcasts__card-date {
  padding: 3px 6px;
  background-color: var(--grey-light);
  color: var(--main-black);
  font-size: 10px;
  line-height: 100%;
}

.podcasts__card-bottomer {
  width: 100%;
  padding: 23px 0 29px 16px;
  background-color: var(--white);
}

.time-wrapper {
  margin-bottom: 4px;
}

.podcasts__card-duration {
  color: var(--main-black);
  font-size: 12px;
  line-height: 100%;
}

.podcasts__card-name {
  margin: 0;
  margin-bottom: 6px;
  color: var(--main-black);
  font-size: 16px;
  line-height: 100%;
}

.podcasts__card-author {
  margin: 0;
  color: var(--grey-hard);
  font-size: 12px;
  line-height: 100%;
}

/* broadcasts */

.broadcasts {
  padding: 35px 0 30px;
}

.broadcasts__title {
  margin-bottom: 29px;
  color: var(--main-black);
  font-size: 24px;
  line-height: 100%;
}

.broadcasts__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.broadcasts__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: auto;
  position: relative;
  z-index: 1;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.broadcasts__uppercard {
  min-height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
}

.broadcasts__bottomcard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 99px;
  padding: 10px 10px 12px 8px;
  border-right: 1px solid var(--grey-light);
  border-left: 1px solid var(--grey-light);
  border-bottom: 1px solid var(--grey-light);
}

.upper-bg-1 {
  background-image: url(../img/broadcast1.jpg);
}

.upper-bg-2 {
  background-image: url(../img/broadcast2.jpg);
}

.upper-bg-3 {
  background-image: url(../img/broadcast3.jpg);
}

.upper-bg-4 {
  background-image: url(../img/broadcast4.jpg);
}

.upper-bg-5 {
  background-image: url(../img/broadcast5.jpg);
}

.upper-bg-6 {
  background-image: url(../img/broadcast6.jpg);
}

.broadcast-name {
  margin: 0;
  margin-bottom: 5px;
  color: var(--main-black);
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
}

.broadcast-descr {
  margin: 0;
  color: var(--grey-hard);
  font-size: 9px;
  line-height: 100%;
}

.broadcasts__btn {
  padding-right: 28px;
  color: var(--violett-medium);
  background-image: url(../img/Arrow\ 1.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: right;
  background-position-y: center;
  font-size: 12px;
  line-height: 100%;
}

.broadcasts__btn:focus {
  outline: transparent;
}

.broadcasts__btn:active {
  outline: transparent;
}

.broadcasts__card:hover {
  -webkit-transform: translate3d(5px, 5px, 5px);
          transform: translate3d(5px, 5px, 5px);
  -webkit-box-shadow: 10px 5px 5px var(--light-violett);
          box-shadow: 10px 5px 5px var(--light-violett);
}

.broadcasts__card:focus {
  outline: transparent;
  -webkit-transform: translate3d(-5px, -5px, -5px);
          transform: translate3d(-5px, -5px, -5px);
  -webkit-box-shadow: 10px 5px 5px var(--light-violett);
          box-shadow: 10px 5px 5px var(--light-violett);
}

.broadcasts__card:active {
  -webkit-transform: translate3d(-5px, -5px, -5px);
          transform: translate3d(-5px, -5px, -5px);
  -webkit-box-shadow: 5px 5px 5px var(--light-violett);
          box-shadow: 5px 5px 5px var(--light-violett);
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  -o-transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}


/* archive */

.broadcasts-archive__wrap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 calc(50% - 50vw);
  padding: 29px 10px 48px 0;
  border-top: 1px solid var(--grey-light);
}

.broadcasts-archive__wrap picture {
  margin-right: 13px;
}

.archive-descr {
  max-width: 200px;
  margin: 0;
  margin-bottom: 8px;
  color: var(--grey-hard);
  font-size: 14px;
  line-height: 21px;
}

.archive-btn {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 7.5px 31px;
  border: 2px solid var(--main-black);
  border-radius: 77px;
  color: var(--main-black);
  font-size: 16px;
  line-height: 100%;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.archive-btn:hover {
 -webkit-transform: scale(1.1);
     -ms-transform: scale(1.1);
         transform: scale(1.1);
}

.archive-btn:focus {
  outline-offset: 3px;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  border: 1px solid transparent;
}

.archive-btn:active {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  border: 1px solid transparent;
}

/* guests */

.guests {
  padding: 55px 0 24px;
  background-color: var(--main-black);
}

.guests__title {
  margin: 0;
  margin-bottom: 12px;
  color: var(--white);
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
}

.guests__descr {
  margin: 0;
  color: var(--grey-hard);
  font-size: 14px;
  line-height: 22px;
}

.guests__descr:nth-child(3) {
  margin-bottom: 28px;
}

.guests__card {
  margin-bottom: 28px;
}

.guests__card img {
  margin-bottom: 5px;
}

.guest-name {
  margin: 0;
  margin-bottom: 8px;
  color: var(--white);
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
}

.guest-descr {
  margin: 0;
  margin-bottom: 30px;
  color: var(--grey-hard);
  font-size: 16px;
  line-height: 28.8px;
}

.guests__btn {
  padding: 9.5px 14.5px;
  border: 2px solid var(--light-violett);
  border-radius: 77px;
  color: var(--light-violett);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.guests__btn:hover {
  color: var(--white);
  background-color: var(--light-violett);
}

.guests__btn:focus {
  border: 2px solid transparent;
  outline: transparent;
  color: var(--white);
  background-color: var(--violett-medium);
}

.guests__btn:active {
  border: 2px solid transparent;
  outline: transparent;
  color: var(--white);
  background-color: var(--violett);
}

/* playlists */

.playlists {
  padding: 53px 0 54px 0;
}

.playlists__title {
  color: var(--main-black);
  margin: 0;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
}

.playlists__wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 14px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.playlists__descr {
  margin: 0;
  margin-bottom: 6px;
  color: var(--grey-hard);
  font-size: 12px;
  line-height: 16px;
}

.playlists__accent-text {
  margin: 0;
  margin-bottom: 6px;
  font-weight: 300;
  font-style: italic;
  font-size: 12px;
  line-height: 22px;
}

.eighteen-image {
  margin-bottom: 24px;
}

.playlists__card {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.playlists__card:hover {
  -webkit-transform: translate3d(-5px, -5px, -5px);
          transform: translate3d(-5px, -5px, -5px);
  -webkit-box-shadow: 10px 5px 5px var(--light-violett);
          box-shadow: 10px 5px 5px var(--light-violett);
}

.playlists__card:focus {
  outline: transparent;
  -webkit-transform: translate3d(-5px, -5px, -5px);
          transform: translate3d(-5px, -5px, -5px);
  -webkit-box-shadow: 10px 5px 5px var(--light-violett);
          box-shadow: 10px 5px 5px var(--light-violett);  
}

.playlists__card:active {
  -webkit-transform: translate3d(5px, 5px, 5px);
          transform: translate3d(5px, 5px, 5px);
  -webkit-box-shadow: 5px 5px 5px var(--light-violett);
          box-shadow: 5px 5px 5px var(--light-violett);
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  -o-transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;  
}

.playlists__cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 113px;
  min-width: 113px;
  background-size: contain;
  background-repeat: no-repeat;
}

.playlists__cover img {
  -ms-flex-item-align: end;
      align-self: flex-end;
  height: 20px;
  width: 24px;
}

.cover-1 {
  background-image: url(../img/play1.jpg);
}

.cover-2 {
  background-image: url(../img/play2.jpg);
}

.cover-3 {
  background-image: url(../img/play3.jpg);
}

.cover-4 {
  background-image: url(../img/play4.jpg);
}

.cover-5 {
  background-image: url(../img/play5.jpg);
}

.cover-6 {
  background-image: url(../img/play6.jpg);
}

.cover-7 {
  background-image: url(../img/play7.jpg);
}

.cover-8 {
  background-image: url(../img/play8.jpg);
}

.cover-9 {
  background-image: url(../img/play9.jpg);
}

.cover-10 {
  background-image: url(../img/play10.jpg);
}

.cover-11 {
  background-image: url(../img/play11.jpg);
}

.cover-12 {
  background-image: url(../img/play12.jpg);
}

.playlists__bot {
  padding: 8px 10px 10px 8px;
  max-width: 113px;
  border: 1px solid var(--grey-light);
}

.playlist-title {
  margin: 0;
  margin-bottom: 5px;
  color: var(--main-black);
  font-size: 12px;
  line-height: 100%;
}

.playlist-descr {
  margin: 0;
  color: var(--grey-hard);
  font-size: 9px;
  line-height: 100%;
}

/* special-product */

.special-product {
  padding: 54px 0;
  background-color: var(--off-black);
}

.special-product img {
  margin-bottom: 24px;
}

.special-product__title {
  margin: 0;
  margin-bottom: 12px;
  color: var(--local-yellow);
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
}

.special-product__decorate {
  margin-bottom: 16px;
  min-width: 254px;
  min-height: 12px;
  background-image: url(../img/special-wave.svg);
  background-repeat: repeat;
  background-size: auto;
}

.special-product__descr {
  margin: 0;
  margin-bottom: 12px;
  color: var(--white);
  font-size: 14px;
  line-height: 22px;
}

.special-product__price {
  margin: 0;
  margin-bottom: 20px;
  color: var(--white);
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
}

.special-product__btn {
  padding: 15px 14px 15px 42px;
  border: 2px solid var(--local-yellow);
  border-radius: 100px;
  color: var(--local-yellow);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  background-image: url(../img/Ymarket.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: 16px;
  background-position-y: center;
  -webkit-transition: background-color 0.3s ease-in-out, background-image 0.3s ease-in-out, outline 0.2s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, background-image 0.3s ease-in-out, outline 0.2s ease-in-out;
  transition: background-color 0.3s ease-in-out, background-image 0.3s ease-in-out, outline 0.2s ease-in-out;
}

.special-product__btn:hover {
  color: var(--main-black);
  background-color: var(--local-yellow);
  background-image: url(../img/Ymarket-hover.png);
}

.special-product__btn:focus {
  outline: 1px solid var(--local-yellow);
  color: var(--main-black);
  background-color: var(--gold);
}

.special-product__btn:active {
  outline: transparent;
  color: var(--main-black);
  background-color: var(--gold);
  background-image: url(../img/Ymarket-active.png);
}

.special-product__btn:active:before {
  outline: transparent;
}

/* about-us */

.about-us {
  padding: 54px 0;
  background-color: var(--main-black);
}

.about-us__title {
  margin: 0;
  margin-bottom: 12px;
  color: var(--white);
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
}

.about-us__accent-descr {
  margin: 0;
  margin-bottom: 4px;
  color: var(--grey-hard);
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}

.about-us__descr {
  margin: 0;
  margin-bottom: 30px;
  color: var(--grey-hard);
  font-size: 14px;
  line-height: 22px;
}

.about-us__decorate-abstract {
  display: none;
}

.about-us__card {
  margin-bottom: 28px;
}

.about-us__card img {
  margin-bottom: 7px;
}

.about-us__staff {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.about-us__staff-name {
  margin: 0;
  margin-bottom: 5px;
  color: var(--white);
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.about-us__staff-descr {
  margin: 0;
  color: var(--grey-hard);
  font-size: 12px;
  line-height: 16px;
}

.about-us__form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-us__sayform {
  min-height: 150px;
  min-width: 256px;
  padding: 17px 24px 17px;
  margin-bottom: 23px;
  background-color: var(--main-black);
  border: 1px solid var(--white);
  border-radius: 20px;
  color: var(--grey-hard);
  font-size: 16px;
  line-height: 100%;
  resize: none;
}

.about-us__hoverage {
  width: 100%;
}

.about-us__hoverage:hover {
  color: var(--grey-hard);
  background-color: var(--off-black);
}

.about-us__hoverage:focus {
  border: 1px solid transparent;
  outline: 1px solid var(--light-violett);
  color: var(--grey-hard);
  background-color: var(--off-black);
}

.about-us__hoverage:active {
  border: 1px solid var(--light-violett);
}

.about-us__hoverage:valid {
  color: var(--white);
  background-color: var(--main-black);
}

.about-us__name {
  padding: 17px 23px 15px;
  margin-bottom: 30px;
  background-color: var(--main-black);
  border: 1px solid var(--white);
  border-radius: 40px;
  color: var(--grey-hard);
  font-size: 16px;
  line-height: 100%;
}

.about-us__e-mail {
  position: relative;
  padding: 17px 23px 15px;
  margin-bottom: 30px;
  background-color: var(--main-black);
  border: 1px solid var(--white);
  border-radius: 40px;
  color: var(--grey-hard);
  font-size: 16px;
  line-height: 100%;
}

.about-us__btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 16px 44px;
  margin-bottom: 18px;
  background-color: var(--violett-medium);
  border: 1px solid var(--violett-medium);
  border-radius: 40px;
  color: var(--white);
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.about-us__btn:hover {
  color: var(--white);
  background-color: var(--light-violett);
}

.about-us__btn:focus {
  border: 2px solid transparent;
  outline: transparent;
  color: var(--white);
  background-color: var(--violett-medium);
}

.about-us__btn:active {
  border: 2px solid transparent;
  outline: transparent;
  color: var(--white);
  background-color: var(--violett);
}

.about-us__check {
  display: none;
}

.about-us__label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: var(--white);
  font-weight: 500;
  font-size: 9px;
  line-height: 100%;
}

.about-us__check:checked+span::before {
  border: 1px solid var(--white);
  background-image: url(../img/checked.svg);
  background-size: contain;
}

.about-us__check+span::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid var(--white);
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: center center;
}

/* footer */

footer {
  background-color: var(--main-black);
}

.footer-social {
  margin: 0 calc(50% - 50vw);
  padding: 54px 65px 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--off-black);
}

.footer-logo {
  margin-bottom: 16px;
}

.footer-social__list {
  gap: 27px;
}

.footer-social__list svg {
  fill: var(--grey-medium);
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.footer-social__list a:hover svg {
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
  fill: var(--violett-medium);
}

.footer-social__list a:focus {
  outline: transparent;
}

.footer-social__list a:focus svg {
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
  fill: var(--light-violett);
}

.footer-social__list a:active svg {
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
  fill: var(--violett);
}

.footer-nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  padding: 29px 66px 7px 0;
  max-height: 216px;
}

.footer-nav__item {
  padding: 0;
  color: var(--white);
  font-size: 12px;
  line-height: 100%;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.footer-nav__item a:hover {
  outline: transparent;
  color: var(--violett-medium);
}

.footer-nav__item a:focus {
  outline: transparent;
  color: var(--white);
  background-color: var(--light-violett);
}

.footer-nav__item a:active {
  outline: transparent;
  color: var(--violett);
}

.footer-nav__item:not(:last-child) {
  margin-bottom: 24px;
}

.footer-under {
  margin: 0 calc(50% - 50vw);
  padding-top: 9px;
  padding-bottom: 8px;
  background-color: var(--off-black);
}

.footer-under__wave {
  margin-bottom: 10px;
  min-height: 12px;
  background-image: url(../img/wave.svg);
  background-repeat: repeat;
  background-size: auto;
}

.footer-under__descr {
  margin: 0;
  color: var(--grey-hard);
  text-align: center;
  font-size: 12px;
  line-height: 12.4px;
}
